{% load static %}

<html>
	<head>
		<title> OM SAKTHI </title>
		<link rel="stylesheet" href="{% static 'css/c1.css'%}" >
		<link rel="icon" href="{% static 'images/icon1.png' %}">
	</head>


	<body bgcolor = {{ color }}>		
		<center>
		<form>
			<input type = "submit", value = "RED", class = "class1", name = "r">	
			<br><br>
			<input type = "submit", value = "Yellow", class = "class1", name = "y">
			<br><br>
			<input type = "submit", value = "GREEN", class = "class1", name = "g">
		</form>
		</center>
	</body>

</html>