.class1 {
	font-size:50px;
	width:500px;
	margin-top:100px;			
	color:white;
	background-color:#99003d;
	cursor:pointer;
	border-radius:20px;
	transition-duration: 0.4s;	<!-- slowly transforms on hover ie with the delay of 0.4s -->
	}

.class1:hover {
	background-color: #ff1a75;	<!-- on hovering on button, the color changes -->
	color: black;
}
